*~
.*.swp
lib/*.lib
lib/*.a
obj/*.obj
obj/*.o
test/obj/*.obj
test/obj/*.o
examples/obj/*.obj
examples/obj/*.o
precalc/obj/*.obj
precalc/obj/*.o
tab/*.inc
make.exe
testall.exe
testall
tstcrc.exe
tstcrc
bin/prc.exe
bin/prc
/.vs
/prj_vs/.vs/
/prj_vs/precalc/Debug
/prj_vs/libcrc/Debug
*.ilk
*.inc
*.user
*.pdb
/bin/null
*.log
